/*######DEFAULT#####*/
nav,
footer,
header{
    display: block;
}
body{
    min-height: 1;
    margin:0;
}
label{
    font-weight:600;
}
p{
    font-size: 25px;
    line-height: 1.2;
}

article p{
    padding: 20px;
    font-size: 30px;
}

.bucket{
    width: 100%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}

*{
    box-sizing: border-box;
}



/*#####NAVBAR####*/
nav{
    width: 100%;
    margin: 0;
}
nav ul{
    background-color: magenta;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right{
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    min-height: 15px;
    text-align: center;
    color: yellow;
}
ul.topnav li a:hover{
    background-color: black;
    color: darkblue;
}
ul.topnav li.dropdownIcon{
    display: none;
}


/*#######CUSTOMSTYLES####*/
#section1gradient{
    background: linear-gradient(blue,green);  
}
div.box{
    box-shadow: 3px 0px 0px -46px rgba(0,0,0,0.86);;
    background-color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

button{
    font-size: 50px;
    padding:15px;
    font-weight: 400;
    background-color: maroon;
    color: yellow;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
button.pressButton{
    display: block;
    margin:auto;
}
div.slopeIcon img{
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}


div.Icon{
    width: 100%;
}
div.leftside-col{
    margin-left: 30%;
}
div.rightside-col{
    margin-left: 15%;
}

h1.bigger{
    font-size: 50px;
    color: white;
    line-height: 50px; 
}
h1.section2header{
    font-size: 50px;
    text-align: center;
}
form h2{
    color: white;
    
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 10px;
}
footer.footsey{
    background-color: purple;
    padding-left: 10%;
}
footer.footsey h1{
    font-size: 20px;
    color: white;
}
footer.footsey ul{
    list-style: none;
    padding-left: 0;
}
footer.footsey ul li{
    font-size: 25px;
    line-height: 1.5;
    color: white;
    
}




/*#####MEDIAQUERY######*/
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    div.slopeIcon{
        margin: 20px;
    }
    div.slopeIcon img{
        width: 100%;
    }
    
    .col-7,
    .col-6,
    .col-5,
    .col-4{
        width: 100%;
        margin: 0;
    }
    div.fullstack{
        width: 50%;
    }
    div.box{
        padding: 5px;
        display: block;
    }
    div.leftside-col,
    div.rightside-col{
        margin: 15px;
        
    }
    input[type="text"]{
        width: 300px;
    }
    .videobucket iframe{
       position: relative;
        width: 100%;
       
    }
    
    
    
    
    
    
}